@import url(../style.css);

html {
    overflow-x: hidden;
}

body {
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
